/* GENERAL STYLES */
body {
    background-color: #ededed;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Merriweather', serif; */
    /* font-family: 'Bitter', serif; */
}

/* NAVBAR */
#nav-links {
    padding-bottom: 0px;
}

.container {
    margin-top: 5px;
}

#pills, a:link{
    color: white;
    text-decoration: none;
}

#nav-box {
    color: white;
}

#myNavbar {
    /* margin-top: 5px; */
    padding-top: 10px;
    padding-left: 35px;
    padding-right: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #c1c1c1;
    z-index: 3;
    /* -webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.5); */
    box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.5);
    background-color: #1663c7;
    widows: 100vw;

}

#epic-title {
    color: white;
    margin-top: 5px;
    padding-left: 0px;
}

/* NAVBAR GOOGLE ICONS */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    margin-bottom: -8px;
    vertical-align: -25%;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

/* WHITE SIDE BAR AREA */
.first {
    background-color: #ddd;
    z-index: 1;
    /* position: relative; */
}

.ontop {
    height: 700px;
    /* background-color: rgb(255, 191, 191); */
    position: absolute;
    top: -5px;
    width: 475px;
    left: 0px;
    z-index: 2;
}

.white-screen {
    padding-right: 0px;
    height: 100%;
    background: url('./white_alpha9.png') top left repeat-y;
}

/* SIDEBAR */
#sidebar {
    margin-top: 75px;
    /* height: 100vh; */
}

#filter-box {
    background-color: rgba(255, 255, 255,  0);
    margin-top: 15px;
    margin-left: 30px;
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 20px;
    width: 350px;
    /* border-style: solid;
    border-color: #e5e5e5;
    border-width: 1px; */
    align-content: center;
}

#mapkey-box {
    background-color: rgba(255, 255, 255,  .1);
    margin-top: 5px;
    margin-left: 30px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-left: 0px;
    padding-bottom: 0px;
    width: 350px;
    height: 120px;
    /* border-style: solid;
    border-color: #e5e5e5;
    border-width: 1px; */
    border-style: solid;
    border-color: #e5e5e5;
    border-width: 1px;
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.2);
}

#chart-box {
    background-color: rgba(255, 255, 255,  .1);
    margin-top: 15px;
    margin-left: 30px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
    width: 350px;
    height: 325px;
    border-style: solid;
    border-color: #e5e5e5;
    border-width: 1px;
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.2);
}

/* MAP */

#map {
    /* index */
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 15px;
    background-color: white;
    border-style: solid;
    border-color: #e5e5e5;
    border-width: 1px;
    margin-left: -15px;
    margin-bottom: 10px;
    width: 100vw;
    height: 90vh;
    z-index: 1;
}

#footer-box {
    background-color: #1663c7;
    /* -webkit-box-shadow: 0px -3px 15px 0px rgba(0,0,0,0.5); */
    box-shadow: 0px -2px 15px 0px rgba(0,0,0,0.5);
    z-index: 3;
    color: whitesmoke;;
    font-size: .9em;
}