#histogram {
    fill: white;
}
g {
    fill: white!important;
}

rect {
    fill: #1663c7!important;
}

.axis-text {
    font-size: 14px;
}

#click-explore {
    text-align: center;
    color: rgb(97, 97, 97);
}