<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<head>
    {% include "head.html" %}
    <title>EPIC Austin Housing Explorer</title>
</head>

<!-- BODY / LOADS INITIAL MAP ON LOAD -->
<body onload="cp('valuation');">
    {% include "navbar.html" %}

<!-- MAP BOX -->
<div class="container-fluid first" id="map">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-s-12 col-xs-12">
            <!-- <div id="map"></div>   -->
        </div>
    </div>
</div>

<!-- SIDE BAR -->
<div class="ontop container white-screen" id="sidebar">

    <!-- FILTER PANEL -->
    <div id="filter-box">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title"></h5>
            </div>
            <div class="panel-body">
                <div class="btn-group" id="filter-btns">
                    <!-- class="btn-group" role="group" -->
                    <button role="group" class="btn btn-outline-primary active" id="btn-house" onclick="cp('valuation')">Houses</button>
                    <button class="btn btn-outline-primary" id="btn-commute" onclick="cp('commuteTime')">Commute</button>
                    <button class="btn btn-outline-primary" id="btn-crime" onclick="cp('Severity')">Crime</button>
                    <button class="btn btn-outline-primary" id="btn-school" onclick="cp('school_rating')">School</button>
                </div>
            </div>
        </div>
    </div>

    <!-- MAP KEY -->
    <div id="mapkey-box">
        <!-- <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">Map Key </h5>
            </div>
            <div class="panel-body">
            </div>
        </div> -->
    </div>

     <!-- CHART BOX -->
     <div id="chart-box">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">Chart </h5>
            </div>
            <div class="panel-body" id="histogram">

            </div>
        </div>
    </div>
</div>

<!-- BUTTON Functionality -->
<script>
    // Get the container element
    var btnContainer = document.getElementById("filter-btns");

    // Get all buttons with class="btn" inside the container
    var btns = btnContainer.getElementsByClassName("btn");

    // Loop through the buttons and add the active class to the current/clicked button
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function() {
        var current = document.getElementById("filter-btns").getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        this.className += " active";
      });
    }
</script>

</body>

<!-- FOOTER AREA -->
{% include "footer.html" %}

<!-- SCRIPTS AREA -->
{% include "scripts.html" %}   

</html>