<!DOCTYPE html>
<html lang="en">

<!-- SWITCH TO FLASK LATER -->
<!-- <head>
    {% include "head.html" %}
    <title>EPIC Project 2!</title>
</head> -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Bitter|Merriweather|Roboto" rel="stylesheet">

    <!-- Leaflet CSS & JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js" integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q==" crossorigin=""></script>

    <!-- d3 JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"></script>

    <!-- Leaflet-Choropleth JavaScript -->
    <script type="text/javascript" src="../static/js/tChoropleth.js"></script>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/tStyle.css">

</head>

<!-- BODY / LOADS INITIAL MAP ON LOAD -->
<body onload="cp('valuation');">

<!-- NAVBAR -->
<div id="nav-box" class=".bg-primary">
<header class="navbar navbar-expand-lg navbar-light" id="myNavbar">
    <a class="navbar-brand mb-0" href="#" id="epic-title"><h3>EPIC Austin Housing Explorer</h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- NAVIGATION LINKS -->
        <div class="btn-toolbar flex-grow-1 text-right">
        <ul class="navbar-nav ml-auto flex-nowrap" id="nav-links">
                <button onclick="location.href='/exploration'" type="button" class="btn btn-secondary bt-lg ml-2 active" id="btn-explore">Explore</button>
                <button onclick="location.href='/trends'" type="button" class="btn btn-secondary bt-lg ml-2" id="btn-trends">Trends</button>
        </ul>
        </div>
    </header>
</div>

<!-- MAP BOX -->
<div class="container-fluid first" id="map">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-s-12 col-xs-12">
            <!-- <div id="map"></div>   -->
        </div>
    </div>
</div>

<!-- SIDE BAR -->
<div class="ontop container white-screen" id="sidebar">

    <!-- FILTER PANEL -->
    <div id="filter-box">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">Filters </h5>
            </div>
            <div class="panel-body">
                <div id="filter-btns">
                    <!-- class="btn-group" role="group" -->
                    <button role="group" class="btn btn-outline-primary active" id="btn-house" onclick="cp('valuation')">Houses</button>
                    <button class="btn btn-outline-primary" id="btn-commute" onclick="cp('commuteTime')">Commute</button>
                    <button class="btn btn-outline-primary" id="btn-crime" onclick="cp('Severity')">Crime</button>
                    <button class="btn btn-outline-primary" id="btn-school" onclick="cp('school_rating')">School</button>
                    <!-- onclick="myFunction()" -->
                </div>
            </div>
        </div>
    </div>

    <!-- MAP KEY -->
    <div id="mapkey-box">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">Map Key </h5>
            </div>
            <div class="panel-body">
            </div>
        </div>
    </div>

     <!-- CHART BOX -->
     <div id="chart-box">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">Chart </h5>
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>
</div>

<!-- BUTTON Functionality -->
<script>
    // Get the container element
    var btnContainer = document.getElementById("filter-btns");

    // Get all buttons with class="btn" inside the container
    var btns = btnContainer.getElementsByClassName("btn");

    // Loop through the buttons and add the active class to the current/clicked button
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function() {
        var current = document.getElementById("filter-btns").getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        this.className += " active";
      });
    }
</script>

</body>

<!-- FOOTER AREA -->
<!-- SWITCH TO FLASK LATER -->
<!-- {% include "footer.html" %} -->


<footer class="page-footer font-small blue fixed-bottom" id="footer-box">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-1">© 2018 ECONOMETRIC PROPERTY INFORMATION CODING TEAM</div>
</footer>


<!-- SCRIPTS AREA -->
<!-- SWITCH TO FLASK LATER -->
<!-- {% include "scripts.html" %}    -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<!-- CHART -->
<!-- <script type="text/javascript" src="../static/js/temp.js"></script> -->

<!-- LEAFLET CHOROPLETH-->
<script type="text/javascript" src="../static/js/tChoropleth.js"></script>
<!-- API key -->
<script type="text/javascript" src="../static/js/tConfig.js"></script>
<!-- JS -->
<script type="text/javascript" src="../static/js/tLogic.js"></script>

</html>